*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: transitionIN 1s, fadeOut 0.5s .5s forwards;
    z-index: 99999; /* Set a high z-index value */
}

@keyframes transitionIN {
    0% {
        background: #fff;
        border-radius: 100%;
        transform: translate(-50%, -50%) scale(2);
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size:cover;
}
.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    margin-top: 10px;
    width: 100px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #4fc3fd;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
    transition: 0.5s;
    animation:
        topDown 2s,
        fadeIn 2s
}

.header-text p {
    font-style: italic;
}

.header-text h1 {
    font-weight: normal;
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    font-weight: bolder;
    --bg-size: 400%;
    --color-one: hsl(194, 100%, 65%);
    --color-two: hsl(217, 71%, 51%);
    letter-spacing: 3px;
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
        )
        0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation:
        move-bg 8s infinite linear
}

@keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
}

@keyframes topDown {
    from {
        transform:translateY(-20px);
    }
    to {
        transform:translateY(0px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

/* ------------------about------------------ */

#about {
    letter-spacing: 3px;
    color: #fff;
    margin-top:450px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img{
    scale:90%;
    border-radius: 100px;
    width: 90%;
    animation:
        fadeIn 2s;
}

.about-col-2 {
    flex-basis: 60%;
}

#about p {
    font-weight: 200;
    font-size: 17px;
    line-height: 60px;
    animation:
        fadeIn 3s;
}

#about p span {
    font-weight: 900;
    --bg-size: 400%;
    --color-one: hsl(194, 100%, 65%);
    --color-two: hsl(217, 71%, 51%);
    letter-spacing: 3px;
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
        )
        0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation:
        move-bg 8s infinite linear
}

.sub-title {
    margin: 10px 0;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #4fc3fd;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul li {
    list-style: none;
    margin: 15px 0;
}

.tab-contents ul li span{
    color: #4fc3fd;
    font-size: 30px;
    font-weight:bold;
    
}

#work {
    margin-top: 700px;
}

.sub-title {
    text-align: center;
    text-shadow: 0 10px 20px #1b526c;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

.work:hover {
    transform:scale(1.2);
}

.work img {
    width: 100%;
    border-radius: 20px;
    display: block;
}

/* Reviews */

#reviews{
    letter-spacing: 4px;
    padding: 80px 0;
}

.review-list {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 30px;
    margin-top: 10px;
    letter-spacing: 2px;
}

.review-list div {
    border-radius: 50px;
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
}

.review-list div h2 {
    font-weight: 900;
    margin-bottom: 20px;
    --bg-size: 400%;
    --color-one: hsl(194, 100%, 65%);
    --color-two: hsl(217, 71%, 51%);
    letter-spacing: 3px;
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
        )
        0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation:
        move-bg 8s infinite linear
}

.review-list div p {
    margin-top: 20px;
}

.char {
    width:20%;
    border-radius: 50px;
}

.order-info {
    width:100%;
    margin:auto;
    scale: 80%;
    text-align: center;
    border-radius: 100px;
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 30px;
}

.order-info h2{
    color:#4fc3fd;
    text-shadow: 0px 4px 10px #3b70b1;
    padding: 30px 0;
    font-size: 40px;
}

.order-info p {
    letter-spacing: 5px;
    line-height: 30px;
    font-size: 20px;
    line-height: 50px;
    font-style: italic;
}

.order-info p span {
    font-weight: bold;
    text-shadow: 0px 4px 10px #3b70b1;
}

/* ------ contact ------ */

#contact {
    letter-spacing: 5px;
    padding: 80px 0;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i{
    color:#4fc3fd;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#ababab;
    display:inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color:#4fc3fd;
    transform:translateY(-5px);

}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #4fc3fd;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    cursor:pointer;
}

.btn:hover {
    background: #4fc3fd;
}

.btn.btn2{
    font-size: 15px;
    letter-spacing: 2px;
    display:inline-block;
    background: #4fc3fd;
}

.contact-right form {
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #4fc3fd;
    font-size: 18px;
    border-radius: 6px;
}

form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/* ----- Universal Scaling -------- */
nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px){
    .header-text p {
        margin-top: -80px;
    }
    #pricing {
        margin-top: 1200px;
    }
    #header{
        background-image: url(images/background2.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #4fc3fd;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display:block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }
    .about-col-1 {
        margin-bottom: 30px;
    }
    .about-col-2 {
        font-size: 14px;
    }
    .tab-links {
        font-size:16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right {
        flex-basis: 100%;
    }
}
#msg{
    color:#61b756;
    margin-top:-10px;
    display:block;
}